prometheus:
  serviceMonitor:
    enabled: true

persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: kong
    kubernetes.io/tls-acme: 'true'
    cert-manager.io/cluster-issuer: cert-manager
    external-dns.alpha.kubernetes.io/hostname: ""
  hosts:
  - host: home.thsp.dev
    paths:
    - path: /
      pathType: Prefix
  tls:
  - secretName: home-assistant
    hosts:
    - home.thsp.dev

image:
  tag: stable
