# This playbook configure kubectl and adds gitops with argocd to the cluster
---
- hosts: localhost

  tasks:
  - name: export k3s config to kubeconfig
    lineinfile:
      path: ~/.zshrc
      regexp: '^export KUBECONFIG'
      line: "export KUBECONFIG=$HOME/.kube/config:{{ kubeconfig }}"
      state: present

  - name: Create openebs
    community.kubernetes.k8s:
      state: present
      namespace: kube-system
      src: ../argocd/infrastructure/openebs/resources.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Create argocd namespace
    community.kubernetes.k8s:
      state: present
      src: ../argocd/infrastructure/namespace/argocd.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Create argocd crds
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/infrastructure/argocd/crds.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Create prometheus operator crds (dependency)
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/infrastructure/prometheus-operator/crds.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Create argocd
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/infrastructure/argocd/resources.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Bootstrap infrastructure
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/bootstrap/bootstrap-infrastructure.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Bootstrap applications
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/bootstrap/bootstrap-applications.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Bootstrap projects
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../argocd/bootstrap/bootstrap-projects.yaml
      kubeconfig: '{{ kubeconfig }}'

  - name: Apply secrets
    community.kubernetes.k8s:
      state: present
      namespace: argocd
      src: ../secrets.yaml
      kubeconfig: '{{ kubeconfig }}'
