---
global:
  image:
    repository: alinbalutoiu/argocd
    tag: linux-arm-v1.8.1

dex:
  enabled: false
  serviceAccount:
    create: false

installCRDs: false

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

server:
  extraArgs:
  - --insecure
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: kong
      konghq.com/plugins: private-service
      kubernetes.io/tls-acme: true
      cert-manager.io/cluster-issuer: cert-manager
    hosts:
    - argocd.thsp.dev
    tls:
    - secretName: argocd
      hosts:
      - argocd.thsp.dev

  ingressGrpc:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: kong
      konghq.com/plugins: private-service
      kubernetes.io/tls-acme: true
      cert-manager.io/cluster-issuer: cert-manager
    hosts:
    - argocd.thsp.dev
    tls:
    - secretName: cert-manager
      hosts:
      - argocd.thsp.dev

  config:
    url: https://argocd.thsp.dev
    repositories: |
      - type: helm
        url: https://helm.cilium.io/
        name: cilium
